@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    background-color: #b3e9f3;
}

h1 {
    background-color: #6590d1;
    text-shadow: 3px 3px 3px #48789f;
}

img {
    height: 300px;
    width: 500px;
}