* {

}

header {
    margin: ;
    background-color: burlywood;
    height: 100%;
}

footer {
    background-color: orchid;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

nav {
    background-color: aqua;
}