#container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    /* grid-template-areas: "div6 div6 div6 div1 div1 div1" "div6 div6 div6 div2 div2 div2"; */
    /* justify-content: space-evenly; */
    /* justify-items: center; */
    /* align-items: center; */
    height: 100vh;
    align-content: stretch;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.itens {
    border: 1px solid #000;
    background-color: bisque;
}
/* 
.item-1 {
    grid-area: div1;
}
.item-2 {
    grid-area: div2;
}
.item-3 {
    grid-area: div3;
}
.item-4 {
    grid-area: div4;
}
.item-5 {
    grid-area: div5;
}
.item-6 {
    grid-area: div6;
}
.item-7 {
    grid-area: div7;
}
.item-8 {
    grid-area: div8;
}
.item-9 {
    grid-area: div9;
} */
