@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: brown;
}

footer {
    background-color: coral;
}

p {
    color: gray;
}