* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    height: 150px;
}

#logo img {
    height: 100%;
}

#links {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
}

#links ul {
    
}

